Com.Ambassador.Service.Auth.Lib/bin
Com.Ambassador.Service.Auth.Lib/obj
Com.Ambassador.Service.Auth.WebApi/bin
Com.Ambassador.Service.Auth.WebApi/obj
Com.Ambassador.Service.Auth.WebApi/appsettings.json
